html,
body,
#app {
  height: 100%;
  width: 100%;
}
body {
  font-family: Noto Sans SC, sans-serif;
  padding-right: 0 !important;
  overflow-y: visible !important;
}
@font-face {
  font-family: Caveat;
  src: url("../font/Caveat-Bold.ttf");
}
@font-face {
  font-family: Adobe Fan Heiti Std B;
  src: url("../font/Adobe\ Fanti\ Std\ B.otf");
}
@font-face {
  font-family: Noto Sans SC;
  src: url("../font/NotoSansSC-Bold.otf");
}
.tangram-suggestion {
  z-index: 9999;
}
